
@{
    ViewBag.Title = "Superviseur";
    Layout = "~/Views/Login/_SuperviseurLayout.cshtml";
}
<div class="container body-content">
    <h2>Stagiaires assignés</h2>
</div>
<style>
    .submenu-item a {
        text-decoration: none;
        padding-left:20px;
    }
</style>